<% if agnostic.errors.any? %>
  <div class="errors-container">
    <h5>
      There were some errors:
    </h5>

    <ul>
      <% agnostic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>