/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require carousel.css
 */

 /*  *= require bootstrap-datepicker    */

 /* * {
  margin: 0;
  padding: 0;
 }

 *,
 *:before,
 *:after {
  box-sizing: inherit;
 } */

 /* .nav {  
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-blue);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
} */

/* body {
  display: grid;
  grid-template-rows: 20%;
  grid-template-areas:
    "nav"
    "main";
  color: bisque;
} */

/* #main {
  background: bisque;
  
} */

 /* .index {
  display: flex;
  flex-direction: column;
  align-items: center;  
 } */

 #hotel-show {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 70%;
  grid-template-areas:
    "hotel reservations"
    "reviews . ";
 }

 #hotel {
  grid-area: hotel;
  /* border: solid blue 2px; */
  
 }

 #reservations {
  grid-area: reservations;
  /* border: solid yellow 2px; */
 }

 #reviews {
  grid-area: reviews;
  /* border: solid gray 2px; */
 }

 #main {
   margin: 1rem 1rem 0rem 1rem;
 }